.secondscreen {
	background-color: #2f2f2f;
    color: #555;

	#headerwrap {
		background-color: #34495e;
		color: #ffffff;
		h1 {
			font-family: "Raleway";
			font-weight: 300;
			font-size: 1.6em;
			margin: 10px 0;
		}
	}

	#slides {
		background-color: #f2f2f2;
	}

	#controls {
		color: #ffffff;
		padding: 10px 0;
	}

	.content {
		padding: 10px 0;
	}

	.polls {
		padding: 10px 0;
		background-color: #34495e;
		color: #ffffff;
		ul {
			list-style:none;
			padding-left:0;
			padding-bottom:10px;
		}
	}
	
	.poll-option a.selected {
		background-color: red;
	}

	.poll.ThumbsUpThumbsDown {
		ul {
			text-align: center;
		}
		.poll-text {
			display: none;
		}
		.poll-option {
			display: inline;
			padding-right:5px;
		}
		a {
			background: transparent url(Images/thumbsUpInactive.png) no-repeat;
			display: inline-block;
			width: 45px;
			height: 42px;
			color: rgba(0, 0, 0, 0);
			font: 0px/0 a;
			&.selected {
				background-image: url(Images/thumbsUpActive.png);
			}
		}
	}
}