@{
    ViewBag.Title = "Polls";
}

<div class="container" ng-app="pollGraphView">
    <h2>Polls.</h2>
    <!--
    <div class="row">
        <div class="col-md-6">
            <!-- Poll Answer div: will be graph- ->
            <div ng-show="latestPollAnswers"> <!-- taking a punt on this evaluating to false when empty and true when results.-- >
                <h4>{{latestPollAnswers.Question}}</h4>
                <ul ng-repeat="option in latestPollAnswers.Options">
                    <li>{{option.OptionText}}: {{option.Count}}</li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div id="graphsDiv" ng-controller="PGV_Controllers.PollGraphViewCtrl" ng-init="init(false);">
        <input type="checkbox" ng-model="allPollsView" />
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
    <script>
            window.BASE_URL = "@Html.Raw(Url.Content("~"))";
            window.HUB_URL = "@Html.Raw(Url.Content("~/signalr/"))";
            window.HUB_NAME = "RTCDeckHub";
    </script>
    <script src="~/Scripts/RTCDeckAppCode/Models.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/HubCommunications.js"></script>
    <script src="~/Scripts/RTCDeckAppCode/PollGraphView.js"></script>
}