
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app ="audienceView">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Audience</title>
    </head>
    <body ng-controller="">
        <div>

        </div>
    </body>
</html>
