@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        23-38 Hythe Bridge Street<br />
        Oxford<br />
        OX4 3NX<br />
        United Kingdom
        <abbr title="Phone">P:</abbr>
        01865 305200
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@oxfordcc.co.uk">support@oxfordcc.co.uk</a><br />
        <strong>Marketing:</strong> <a href="mailto:info@oxfordcc.co.uk">info@oxfordcc.co.uk</a>
    </address>
</div>