<div id="hubdebugmethods">
    <h3>Hub Debug Methods</h3>
    <div class="row">
        <div id="SetCurrentSlide" class="col-md-6">
            <h4>Set Current Slide</h4>
            <label>Index H: <input type="number" id="setCurrentSlide_indexh" /></label><br />
            <label>Index V: <input type="number" id="setCurrentSlide_indexv" /></label><br />
            <label>Index F: <input type="number" id="setCurrentSlide_indexf" /></label> (for fragments? not yet supported by Reveal)<br />
            <label>Speaker Notes: <input type="text" id="setCurrentSlide_speakerNotes" /></label><br />
            <label>Supplementary Content: <input type="text" id="setCurrentSlide_supplementaryContent" /></label><br />
            <input type="button" id="setCurrentSlideButton" value="Set" />
        </div>
        <div id="RequestCurrentSlide" class="col-md-6">
            <h4>Request Current Slide</h4>
            <ul>
                <li id="getCurrentSlide"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="SendPresentationNavigationCommand" class="col-md-6">
            <h4>Send Presentation Navigation Command</h4>
            <input type="text" id="navigationCommand" />
            <input type="button" id="sendNavigationCommand" value="Send" />
        </div>
        <div id="receivePresentationNavigationCommand" class="col-md-6">
            <h4>Receive Presentation Navigation Command</h4>
            <p>Last command received: <span id="receivePresentationNavigationCommandCommand"></span></p>
        </div>
    </div>
    <h3>Hub Documentation</h3>
    <div class="row">
        <div class="col-md-4">
            <h4>Server Side Methods</h4>
            <p>Remember lower case first initial in Javascript</p>
            <dl>
                <dt>SetCurrentSlide(CurrentSlide)</dt>
                <dd>Tells the server what the current slide state is. CurrentSlide is defined in RTCDeckState\CurrentSlide.cs</dd>

                <dt>RequestCurrentSlide()</dt>
                <dd>Asks the hub to broadcast the current slide state. Calls back to notifyCurrentSlide. For new or dropped connections.</dd>

                <dt>SendPresentationNavigationCommand(command)</dt>
                <dd>Passes a navigation command from a client device to the main presentation. Not yet sure how only the presenter will interpret the message. Probably they'll be the only one listening.</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>Expected Client Side methods</h4>
            <dl>
                <dt>notifyCurrentSlide(CurrentSlide)</dt>
                <dd>Informs a client what the current slide is. CurrentSlide is defined in RTCDeckState\CurrentSlide.cs</dd>

                <dt>receivePresentationNavigationCommand(command)</dt>
                <dd>Receives a navigation command for action.</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>Server-side persistence</h4>
            <dl>
                <dt>CurrentSlide</dt>
                <dd>The current slide's properties are persisted. CurrentSlide is defined in RTCDeckState\CurrentSlide.cs</dd>
            </dl>
            <p>NavigationCommands are transient: they are expected to cause a CurrentSlide update.</p>
        </div>
    </div>
</div>