<div id="hubdebugmethods">
    <h3>Hub Debug Methods</h3>
    <div class="row">
        <div id="SetCurrentSlide" class="col-md-4">
            <h4>Set Current Slide</h4>
            <input type="number" id="setCurrentSlidePart1" /><input type="number" id="setCurrentSlidePart2" />
            <input type="button" id="setCurrentSlideButton" value="Set" />
        </div>
        <div id="RequestCurrentSlide" class="col-md-4">
            <h4>Request Current Slide</h4>
            <ul>
                <li id="getCurrentSlidePart1"></li>
                <li id="getCurrentSlidePart2"></li>
            </ul>
        </div>
    </div>
    <h3>Hub Documentation</h3>
    <div class="row">
        <div class="col-md-4">
            <h4>Server Side</h4>
            <dl>
                <dt>SetCurrentSlide</dt>
                <dd>Sets the indices for the current slide; broadcast to all at present via notifyCurrentSlide</dd>

                <dt>RequestCurrentSlide</dt>
                <dd>Gets the indices for the current slide; expected to be used when connecting to a presentation to get initial state. Calls back to notifyCurrentSlide.</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h4>Expected Client Side methods</h4>
            <dl>
                <dt>notifyCurrentSlide</dt>
                <dd>Informs a client what the current slide is</dd>
            </dl>
        </div>
    </div>
</div>